#hero {
    height: 775px;
}

#hero-img {
    grid-column: 1/-1;
    margin-top: 40px;
}

#hero-title {
    grid-column: 1/-1;
    font-family: "Roboto Condensed", serif;
    font-size: 23px;
    text-align: center;
    margin-bottom: 20px;
    
}

#hero-img2 {
    grid-column: 1/-1;
    margin-bottom: 50px;
}

#p-title {
    grid-column: 1/-1;
    font-family: "Roboto", serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (min-width:768px) {
    #hero {
        height: 1397px;
    }
    
    #hero-img {
        grid-column: 1/-1;
    }
    
    #hero-title {
        grid-column: 1/-1;
        font-size: 23px;
        
    }
    
    #hero-img2 {
        grid-column: 1/-1;
    }
    
    #p-title {
        grid-column: 1/-1;
        font-size: 18px;
    }
}

@media screen and (min-width:768px) {

    #hero {
        height: 1397px;
    }
    
    #hero-img {
        grid-column: 3/11;
        grid-row: 1;
        margin-top: 90px;
    }
    
    #hero-title {
        grid-column: 3/11;
        grid-row: 1;
        font-size: 40px;
        margin-top: 150px;
    }
    
    #hero-img2 {
        grid-column: 3/11;
        grid-row: 1;
        width: 435px;
        height: 300px;
        margin-top: 210px;

    }
    
    #p-title {
        grid-column: 2/12;
        font-size: 18px;
        grid-row: 1;
         margin-top: 600px;
    }

}

@media screen and (min-width:1200px) {

    #hero {
        height: 500px;
    }
    
    #hero-img {
        grid-column: 2/7;
        margin-top: 90px;
    }
    
    #hero-title {
        grid-column: 2/7;
        font-size: 30px;
        margin-top: 150px;
    }
    
    #hero-img2 {
        grid-column: 8/-1;
        width: 435px;
        height: 300px;
        margin-top: 122px;
    }
    
    #p-title {
        grid-column: 2/7;
        font-size: 25px;
        margin-top: 240px;
    }

}