#servicios {
    height: 1397px;
    background-image: url(../../images/BG-TCX-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#servicios-title {
    grid-column: 1/-1;
    font-family: "Roboto Condensed", serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}